#bodyContent {
    width: 100%;
}

.galleryContainer {
    position: relative;
    text-align: center;
    height: 45%;
}

.gallery {
    height: 70%;
}

.galleryTitle {
    text-decoration: underline;
}

.projectDisplay {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%; 
    width: 20%; 
    vertical-align: top;
}

a {
    color: inherit;
}

a:hover {
    font-weight: bolder;
    letter-spacing: 2px;
}

h4 {
    font-family: Body;
}

.border {
    border: 1px solid black;
}

a {
    transition: letter-spacing 0.3s 0s;
    font-weight: normal;
    text-decoration: none;
}

img {
    max-height: 70%;
    max-width: 100%;
    border-radius: 5%;
}

@media (max-aspect-ratio: 1/1) {
    .projectDisplay {
        width: 40%;
    }

    .sectionContainer {
        height: 40%;
    }

    #wallpapers {
        top: 5%;
    }
}
