#bodyContent {
    height: 100%;
    width: 100%;
}

.galleryContainer {
    position: relative;
    text-align: center;
    height: 45%;
}

.gallery {
    height: 70%;
}

.projectDisplay {
    display: inline-block;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%; 
    width: 20%; 
    vertical-align: top;
}

a {
    color: inherit;
}

a:hover {
    font-weight: bolder;
    letter-spacing: 2px;
}

h2 {
    font-size: calc(0.8vh + 0.8vw);
}

h3 {
    font-size: calc(0.6vh + 0.6vw);
    font-weight: normal;  
    margin-top: 2%;
    margin-bottom: 2%;
}

h4 {
    font-size: calc(0.65vh + 0.65vw);
}

.border {
    border: 1px solid black;
}

a {
    transition: letter-spacing 0.3s 0s;
    font-weight: normal;
    text-decoration: none;
}

img {
    max-height: 70%;
    max-width: 100%;
    border-radius: 5%;
}

@media (max-aspect-ratio: 1/1) {
    .projectDisplay {
        width: 40%;
    }

    .sectionContainer {
        height: 40%;
    }

    #wallpapers {
        top: 5%;
    }

    h1 {
        font-size: calc(1.5vh + 1.5vw);
    }

    h3 {
        font-size: calc(0.8vh + 0.8vw);
    }

    h4 {
        font-size: calc(0.75vh + 0.75vw);
    }
}
