:root {
    --darkRed: #7F210C;
    --lightRed: #D58C5B;
    --darkGreen: #276C1A;
    /* --lightGreen: #6A994E; */
    --lightGreen: #BCCA5B;
    --tealBlue: #4E7D99;
    --pseudoBlack: #000D2A;
    --pseudoWhite: #FAF2E1;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0;
    background: var(--pseudoWhite);
    font-family: Header; 
    color: var(--pseudoBlack);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    font-family: Header;
    src: url(Gilgan.otf);
}