:root {
    --red: #7F210C;
    --peach: #D58C5B;
    --green: #276C1A;
    --yellow: #DFCD69;
    --teal: #649EBF;
    --grey: #BFBFBF;
    --offBlack: #000D2A;
    --offWhite: #FAF2E1;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0;
    background: var(--offWhite);
    font-family: Header; 
    color: var(--offBlack);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    font-family: Header;
    src: url(Gilgan.otf);
}
