#pageContainer {
    position: relative; 
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

#header {
    position: relative;
    z-index: 3;
    height: 6%;
    width: 100%;
}

#headerFlash {
    position: relative;
    height: 100%;
    width: 60%;
    font-size: calc(1.2vh + 1.2vw);
    z-index: 1;
}

#headerFlash > p {
    text-align: left;
    position: relative;
    margin: 0;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    transition: letter-spacing 0.3s 0s;
}

#menuBar {
    position: relative;
    float: right;
    height: 100%; 
    width: 37.5%;
    font-size: calc(0.7vh + 0.7vw);
}

.headerButton > p {
    text-align: center;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: letter-spacing 0.3s 0s;
}

.headerButton {
    width: 20%;
    height: 100%;
    float: right;
    z-index: 3;
    position: relative;
}

.headerButton:hover > p {
    font-weight: bolder;
    letter-spacing: 3px;
}

#homeButton {
    background: var(--pseudoWhite);
}

#aboutButton {
    background: var(--darkRed);
    color: var(--pseudoWhite);
}

#personalProjectsButton {
    background: var(--lightRed);
}

#portfolioButton {
    background: var(--lightGreen);
}

#resumeButton {
    background: var(--darkGreen);
    color: var(--pseudoWhite);
}

#circleSlider {
    z-index: 2;
    position: absolute; 
    width: 0%; 
    height: 0%;
    border-radius: 50%;
    background: black;
    transform: translate(-50%, -50%);
}

#bodyFrame {
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-aspect-ratio: 1/1) {
    #header {
        height: 10%;
    }

    #headerFlash {
        height: 50%;
        float: left;
        font-size: calc(1.6vh + 1.6vw);
    }

    #menuBar {
        position: absolute; 
        top: 50%;
        float: left;
        height: 50%;
        width: 100%;
        font-size: calc(1.1vh + 1.1vw);
    }
}