#bodyContent {
    font-family: Header; 
    text-align: center;
    position: relative;
    top: 30%;
}

#centreText > * {
    margin-bottom: 0;
}

h1 {
    font-size: calc(2.2vh + 2.2vw);
    margin-top: 0%;
}

h2 {
    font-size: calc(0.9vh + 0.9vw);
    margin-top: 0.6%;
}

h3 {
    font-size: calc(0.7vh + 0.7vw);
    margin-top: 0.8%;
}

#contactLinks {
    margin-top: 0.8%;
}

a {
    display: inline-block;
    height: 100%;
    width: 2.5%;
    margin: 0.5% 2% 0 2%;
}

img {
    width: 100%;
}
