#topLine {
    background: var(--accent-colour-1);
    color: var(--text-colour-1);
}

.button {
    text-align: center;
    display: inline-block;
    background-color: var(--accent-colour-6);
    margin: 4% 0;
    border-radius: 20px;
    border: 2px solid var(--foreground-colour);
}

.buttonLink {
    text-decoration: none;
}

.button > * {
    font-size: 1.1em;
    line-height: 1.5em;
    color: var(--text-colour-6);
    margin: 0.3em;
}

.postText {
    border: 2px solid var(--foreground-colour);
    border-radius: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.postText > * {
    text-align: left;
    padding: 0% 4%;
}

.postText > h2 {
    color: var(--text-colour-1);
    background-color: var(--accent-colour-1);
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2em;
}

.bodyContent {
    position: relative;
    top: 1%;
    display: block;
    overflow: auto;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 50px;
}

@media (max-aspect-ratio: 1/0.8) {
    .bodyContent {
        width: 98%;
    }
}
