.bodyContent {
    position: relative;
    top: 10%;
    display: block;
    overflow: auto;
    margin: 0 auto;
    width: 40%;
    font-family: Body;
}

.bodyContent > div {
    float: left;
}

.bodyText {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

li {
    text-align: left;
}

#topSection > .bodyText {
    width: 70%;
    margin-left: 5%;
}

#topSection > .bodyImages {
    width: 25%;
    float: left;
}

#bottomSection > .bodyText {
    width: 50%;
    margin-right: 5%;
}

#bottomSection > .bodyImages {
    width: 45%;
}

#bottomSection {
    margin-top: 5%;
    padding-bottom: 2%;
}

@media (max-aspect-ratio: 1/1) {
    .bodyContent {
        width: 80%;
    }
}
