[data-theme="light"] {
    #topLine {
        background: var(--accent-colour-2);
        color: var(--text-colour-2);
    }
}

[data-theme="dark"] {
    #topLine {
        background: var(--accent-colour-2);
        color: var(--text-colour-2);
    }
}

.bodyContent {
    position: relative;
    top: 10%;
    display: block;
    overflow: auto;
    margin: 0 auto;
    width: 40%;
}

.bodyContent > div {
    float: left;
}

.bodyText {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

li {
    text-align: left;
}

#topSection > .bodyText {
    width: 70%;
    float: right;
}

#topSection > .bodyImages {
    width: 25%;
    float: left;
}

#bottomSection > .bodyText {
    width: 50%;
    float: left;
}

#bottomSection > .bodyImages {
    width: 45%;
    float: right;
}

#bottomSection {
    margin-top: 5%;
    padding-bottom: 2%;
}

@media (max-aspect-ratio: 1/0.8) {
    .bodyContent {
        width: 80%;
    }
}
