:root {
    --foreground-colour: rgb(0, 13, 42);
    --background-colour: rgb(250, 242, 225);

    --accent-colour-1: rgb(127, 33, 12);
    --text-colour-1: var(--background-colour);

    --accent-colour-2: rgb(213, 140, 91);
    --text-colour-2: var(--foreground-colour);

    --accent-colour-3: rgb(223, 205, 105);
    --text-colour-3: var(--foreground-colour);

    --accent-colour-4: rgb(127, 192, 102);
    --text-colour-4: var(--foreground-colour);
    
    --accent-colour-5: rgb(110, 110, 110);
    --text-colour-5: var(--background-colour);
}

.headerButton:hover > * {
    font-weight: bolder;
    letter-spacing: 3px;
}

@font-face {
    font-family: Header;
    src: url(fonts/Gilgan.otf);
}

@font-face {
    font-family: Body;
    src: url(fonts/Gilgan.otf);
}
